/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --green: rgb(11, 165, 11);
}
  /* min-height: 100vh;
  overflow-x: hidden; */
body {
	position: relative;
	margin: 0;  
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 200px 200px;
	opacity: 0.5;
	z-index: -1;
}


/* =============== Navigation ================ */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-image: url(../imgs/background2.jpg);
  background-size: 200px 200px;
  transition: 0.5s;

}
/* Menú hamburguesa */
.hamburger {
  position: fixed;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
}
.hamburger .bar {
  width: 100%;
  height: 4px;
  background-color: var(--white);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Menu fin */
.navigation.active {
  width: 80px;
  left: 0;
}
.nav-links {
  padding: 60px 20px;
}
.nav-links ul {
  list-style: none;
  padding: 0;
}

.nav-links ul li {
  margin: 20px 0;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation,
.img-logo {
  transition: all 0.3s ease;
}

.img-logo {
  margin-top: 20px;
  margin-left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 998;
  align-items: center;
  background-color: #d0e6d0;
}
.img-logo {
  z-index: 100;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {

  display: flex;
  text-decoration: none;
  color: var(--white);
  margin: 5px;
}


.navigation ul li {
  list-style: none;
  position: relative;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li a .icon {
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}


/* Menu fin */

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: margin-left 0.3s ease;
}
.main.shifted {
  margin-left: 200px;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px 10px;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CERRAR SESION */
.cerrar-sesion button {
  background-color: #12afdf;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  width: 100%;
}

.cerrar-sesion button:hover {
  background-color: #083b72;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card:hover {
  background: var(--blue);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: #f0f8f0;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.details .recentOrders {
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.recentOrders h1 {
  font-size: 1.8rem;
  text-shadow: 3px 5px 2px #474747, 2px 2px 2px rgba(60, 206, 114, 0);
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
}

/* Tabla */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #030303;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #30addf;
  font-weight: bold;
}

tr {
  background-color: #b7f0a9;
}

th:nth-child(1),
td:nth-child(1) {
  width: 5%;
}

/* ID */
th:nth-child(2),
td:nth-child(2) {
  width: 15%;
}

/* Nombre */
th:nth-child(3),
td:nth-child(3) {
  width: 10%;
}

/* Correo */
th:nth-child(4),
td:nth-child(4) {
  width: 10%;
}

/* Usuario */
th:nth-child(5),
td:nth-child(5) {
  width: 15%;
}

/* Rol */
th:nth-child(6),
td:nth-child(6) {
  width: 10%;
}

/* Editor */

/* Estilo para la imagen */
td:nth-child(7) img {
  max-width: 100px;
  height: auto;
}

/* Contenedor con scroll horizontal */
.responsive-table-container {
  width: 100%;
  overflow-x: auto;
}

/* Responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {

  table,
  th,
  td {
    font-size: 12px;
  }

  /* Ocultar algunas columnas en pantallas pequeñas */
  th:nth-child(4),
  td:nth-child(4),
  th:nth-child(6),
  td:nth-child(6) {
    display: none;
  }

  /* Ajustar el tamaño de las columnas restantes */
  th:nth-child(1),
  td:nth-child(1) {
    width: 10%;
  }

  /* ID */
  th:nth-child(2),
  td:nth-child(2) {
    width: 30%;
  }

  /* Nombre */
  th:nth-child(3),
  td:nth-child(3) {
    width: 30%;
  }

  /* Correo */
  th:nth-child(5),
  td:nth-child(5) {
    width: 30%;
  }

  /* Rol */
}

/* Tabla end */

/* BOTON */
.myButton1 {
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  margin: 2px;
}

.myButton1:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.myButton1:active {
  position: relative;
  top: 1px;
}

.myButton2 {
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #db1414 5%, #ffcccc 100%);
  background-color: #db1414;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  margin: 2px;
}

.myButton2:hover {
  background: linear-gradient(to bottom, #ffcccc 5%, #db1414 100%);
  background-color: #ffcccc;
}

.myButton2:active {
  position: relative;
  top: 1px;
}

.myButton3 {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
  margin-bottom: 30px;
}

.myButton3:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}

.myButton3:active {
  position: relative;
  top: 1px;
}

/* Fin Boton */


/* End form usuarios */


.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}

.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

/* Agregar productos */

.add-product-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f4f9f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-product-container h2 {
  text-align: center;
  color: #3b6e58;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.add-product-container .input-group {
  margin-bottom: 15px;
}

.add-product-container label {
  display: block;
  color: #3b6e58;
  font-weight: bold;
  margin-bottom: 5px;
}

.add-product-container input[type="text"],
.add-product-container input[type="number"],
.add-product-container textarea,
.add-product-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-product-container input[type="file"] {
  background-color: #fff;
}

.add-product-container textarea {
  resize: none;
}

.add-product-container .btn-add-product {
  display: block;
  width: 100%;
}

.add-product-container.button-agre {
  display: flex;
  flex-direction: row;
}

.add-product-container .btn-add-product:hover {
  background-color: #2a5542;
}

.add-product-container input:focus,
.add-product-container textarea:focus,
.add-product-container select:focus {
  border-color: #3b6e58;
  outline: none;
  box-shadow: 0 0 5px rgba(59, 110, 88, 0.5);
}

.main .container-actions {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.main .container-actions button {
  margin-top: 10px;
  margin-right: 21px;
}

.main.section-features {
  display: grid;
  grid-template-rows: repeat(5, 70px);
  grid-template-columns: repeat(1, 1fr);
}

/* Agregar producto fin */
